<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
        <string>bluetooth-peripheral</string>
	</array>
    
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>This app uses Bluetooth to discover and chat with other users nearby, even when the app is in the background.</string>

    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>This app uses Bluetooth to allow other nearby users to discover and connect to you for off-grid chatting.</string>
</dict>
</plist>
